@model Day05.Data.ApplicationRole

@{
    ViewData["Title"] = "Agregar Rol";
}

<h2>@ViewData["Title"]</h2>

<p>Agrgar un nuevo rol al sistema</p>

<form asp-action="AddRole" method="post">
    <div class="row">
        <div class="form-group col-lg-6">
            <label asp-for="Name">Nombre del Role</label>
            <input asp-for="Name" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <input class="form-control btn-default" type="submit" value="Guardar" />
        </div>
    </div>
</form>