@model IEnumerable<Day01.Models.OrdersViewModel>
@{
    ViewData["Title"] = "Productos (Doomsday Fixed)";
}


<h2>@ViewData["Title"]</h2>
<div class="row">
    <p>En este ejemplo procederemos a realizar el mismo ataque haciendo para intentar agregar una tabla llamada <i>TEST</i>, usando la siguiente instrucci&oacute;n:</p>
    <pre>mac%'; CREATE TABLE TEST (COLUMNA_PRUEBA nvarchar(50));--</pre>
    <p>La sentencia SQL se ejecutara en este orden: primero hara la consulta con el parametro "mac" y luego intentara crear la tabla que estamos injectando en la busqueda. Esta &uacute;ltima sentencia no se ejecutara ya que la </p>
</div>
<div class="row">
    <div class="col-md-4">
        <label class="col-md-4" for="searchParams">Busqueda</label>
        <input class="col-md-8" name="search" id="searchParams"/>
    </div>
    <input class="col-md-1" type="button" onclick="getOrders()" value="Filtrar"/>
</div>
<div class="row">
    <table class="table" id="resultsTable">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr scope="row">
                <td>@item.Name</td>
                <td>@item.Type</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-3">
        <p>@ViewData["Message"]</p>
    </div>
</div>

<script>
    
    function getOrders() {
        var productName = $('#searchParams').val();
        $.ajax({
            url: '/Home/GetProductsRead?name='+productName,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(response) {
                var html = '';
                for (var i = 0; i < response.length; i++) {
                    html += '<tr scope="row"><td>'+response[i].name+'</td><td>'+response[i].type+'</td></tr>';
                }
                $('#resultsTable > tbody').html(html);
            },
            failure: function(response) {

            }
        });
    }
</script>