@{
    ViewData["Title"] = "Login";
}


<h2>@ViewData["Title"]</h2>
<div class="row">
    <p>En este ejemplo procedemos a realizar una inyección que permite al atacante poder realizar un login exitoso sin necesidad de la información completa del usuario. Para esto usaremos el usuario admin y usaremos la siguiente instrauccion:</p>
    <pre>' OR 1=1;--</pre>
    <p>La anterior injeccion permite al atacante poder acceder al sistema ya que retorna "true" gracias a <i>OR 1=1</i></p>
</div>
<div class="row">
    <form asp-action="Login" method="post">
        <div class="col-md-3">
            <label>Usuario</label>
            <input name="user" />
        </div>
        <div class="col-md-3">
            <label>Password</label>
            <input name="password" type="text" />
        </div>
        <div class="col-md-3">
            <input type="submit" value="Login" />
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-3">
        <p>@ViewData["Message"]</p>
    </div>
</div>