

@{
    ViewData["Title"] = "Sin autorización";
}

<h2>@ViewData["Title"]</h2>

<p>¡Tu no tienes poder aquí! No pasaras!!!</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-info col-2">Ir a inicio</a>