@{
    ViewData["Title"] = "Administración";
}

<div class="row">
    <h3>@ViewData["Title"]</h3>
</div>

<div class="row">
    <p>Bienvenido Admin. </p>
</div>
<br/>
<div class="row">
    <p>En este ejemplo accedimos a una zona en donde únicamente los administradores deberían de accesar.</p>
</div>